#
# dotphiles : https://github.com/dotphiles/dotphiles
#
# Git configuration.
#
# Authors:
#   Ben O'Hara <bohara@gmail.com>
#

# Global Config
[user]
  name = Stian Buch Larsen
  email = lonixx@gmail.com
  signingkey = 55CF05DD043E4F6C

[include]
    path = .gitconfig.local


[branch "master"]
    remote = origin
    merge = refs/heads/master

[push]
    default = matching
    followTags = true

[url "git@github.com:"]
    insteadof = github:

[fetch]
  prune = true
[commit]
  gpgSign = true
[pull]
  rebase = true
